hr {
    width: 65%;
    margin: auto;
    padding-bottom: 1em;
    border: none;
    border-top: 3px solid #1a2933;
    color: #1a2933;
    overflow: visible;
    height: 0.3em;
}

.main {
    display: flex;
    justify-content: center;
    background-color: #e6ecf2;
    margin: 100px 0 0 0;
}

.information {
    display: flex;
    width: 800px;
    background-color: #dce2e8;
    flex-direction: column;
    align-items: center;
}

.information__header {
    width: 700px;
    display: grid;
    grid-template-areas:
        "avatar name"
        "describe describe";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 300px 1fr;
}
@media (max-width: 767px) {
    .main {
        margin: 70px 0 0 0;
    }
    .information__header {
        width: 100%;
        display: grid;
        grid-template-areas:
            "avatar"
            "name"
            "describe";
        grid-template-columns: 1fr;
    }
    .avatar {
        width: 100%;
    }
    .fullname {
        align-items: center;
    }
}

.avatar {
    max-width: 300px;
    grid-area: avatar;
    margin: auto;
}

.fullname {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: name;
    font-size: 36px;
    padding: 15px 15px 15px 25px;
}

.describe {
    padding: 15px;
    display: flex;
    grid-area: describe;
    font-size: 20px;
}

.paragraph {
    display: flex;
    align-items: center;
    border-left: 3px solid #1a2933;
    padding-left: 12px;
    height: 100%;
}

.information__contacts {
    padding-bottom: 2em;
    width: 100%;
}
.contacts__header {
    font-size: 36px;
    margin: 0px 0px 15px 25px;
}
.contact {
}

.experience {
    padding-bottom: 2em;
    width: 100%;
}

.skills {
    padding-bottom: 2em;
    width: 100%;
}

.education {
    padding-bottom: 2em;
    width: 100%;
}
