hr {
    width: 65%;
    margin: auto;
    padding-bottom: 1em;
    border: none;
    border-top: 3px solid #1a2933;
    color: #1a2933;
    overflow: visible;
    height: 0.3em;
}

.main {
    display: flex;
    justify-content: center;
    background-color: #e6ecf2;
}

.information {
    display: flex;
    width: 800px;
    padding: 100px 0 0 0;
    background-color: #dce2e8;
    flex-direction: column;
    align-items: center;
}

.information__header {
    width: 100%;
    display: grid;
    grid-template-columns: 240px 400px 1fr;
    grid-template-rows: 240px 100px;
    padding: 0 0 25px 25px;
}

.avatar {
    width: 15em;
    height: 15em;
    grid-column: 1;
    grid-row: 1/3;
}

.fullname {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-column: 2;
    grid-row: 1/2;
    font-size: 36px;
    padding: 15px 15px 15px 25px;
}

.describe {
    padding: 15px;
    display: flex;
    grid-column: 1/3;
    grid-row: 2;
    font-size: 18px;
}

.paragraph {
    display: flex;
    align-items: center;
    border-left: 3px solid #1a2933;
    padding-left: 12px;
    height: 100%;
}

.information__contacts {
    padding-bottom: 2em;
    width: 100%;
}
.contacts__header {
    font-size: 36px;
    margin: 0px 0px 15px 25px;
}
.contact {
}

.experience {
    padding-bottom: 2em;
    width: 100%;
}

.skills {
    padding-bottom: 2em;
    width: 100%;
}

.education {
    padding-bottom: 2em;
    width: 100%;
}
