.content {
    display: flex;
    justify-content: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    background-color: #dce2e8;
}

.information__block {
    width: 700px;
    padding: 0 0 15px 0;
}

.hr {
    width: 65%;
    padding-bottom: 16px;
    border: none;
    border-top: 3px solid #1a2933;
    color: #1a2933;
    overflow: visible;
    height: 5px;
}

/*/ HEADER */

.information-header {
    display: grid;
    grid-template-areas:
        "avatar name"
        "description description";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 300px 1fr;
}

.information-header__avatar {
    max-width: 300px;
    grid-area: avatar;
    margin: auto;
}
.information-header__fullname {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: name;
    font-size: 36px;
    padding: 15px 15px 15px 25px;
    color: #1a2933;
}
.information-header__description {
    display: flex;
    padding: 15px;
    grid-area: description;
    font-size: 20px;
    line-height: 1.6;
}
.information-header__paragraph {
    display: flex;
    align-items: center;
    border-left: 3px solid #1a2933;
    padding-left: 12px;
    height: 100%;
    color: #1a2933;
}

/*/ CONTACTS */

.information-contacts__header {
    color: #1a2933;
    font-size: 36px;
    padding: 0 0 10px 0;
}
.information-contacts__link {
    color: #1a2933;
    text-decoration: none;
}
.information-contacts__contact {
    color: #1a2933;
    font-size: 20px;
    line-height: 1.8;
}

/*/ EXPERIENCE */

.information-experience__title {
    color: #1a2933;
    font-size: 36px;
    padding: 0 0 12px 0;
}
.information-experience__job-title {
    color: #1a2933;
    font-size: 26px;
    padding: 0 0 12px 0;
}
.information-experience__date {
    color: #1a2933;
    font-size: 20px;
    padding: 0 0 10px 0;
}
.information-experience__datetime {
    color: #1a2933;
    font-size: 20px;
    padding: 0 0 10px 0;
}
.information-experience__description {
    color: #1a2933;
    font-size: 18px;
}

/*/ SKILLS */

.information-skills__title {
    color: #1a2933;
    font-size: 36px;
    padding: 0 0 12px 0;
}
.information-skills__skills-title {
    color: #1a2933;
    font-size: 26px;
    padding: 0 0 12px 0;
}
.information-skills__skills-subtitle {
    color: #1a2933;
    font-size: 24px;
    padding: 0 0 12px 0;
}
.information-skills__skill {
    color: #1a2933;
    font-size: 20px;
    padding: 0 0 12px 0;
}
.information-skills__skill-description {
    color: #1a2933;
    font-size: 20px;
    padding: 0 0 12px 0;
}
.information-skills__technologies {
    padding: 0 0 15px;
}

/*/ EDUCATION */

.information-education__title {
    color: #1a2933;
    font-size: 36px;
    padding: 0 0 12px 0;
}
.information-education__institution {
    color: #1a2933;
    font-size: 26px;
    padding: 0 0 12px 0;
}
.information-education__description {
    color: #1a2933;
    font-size: 20px;
    padding: 0 0 12px 0;
}

/*/ MOBILE RESPONSIVE */

@media (max-width: 767px) {
    .information__block {
        width: 100%;
        padding: 0 15px 15px 15px;
    }
    .information-header {
        display: grid;
        grid-template-areas:
            "avatar"
            "name"
            "description";
        grid-template-columns: 1fr;
    }
    .information-header__avatar {
        width: 100%;
    }
    .information-header__fullname {
        align-items: center;
        padding: 15px 0 0 0;
    }
    .information-contacts__contact {
        font-size: 18px;
        line-height: 1.8;
    }
}
